.container-fluid {
  width: 90%;
}

@media (max-width: 767px) {
  .container-fluid {
    min-width: 320px;
    max-width: 720px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-fluid {
    min-width: 768px;
    max-width: 1000px;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .container-fluid {
    min-width: 1000px;
    max-width: 1320px;
  }
}

@media (min-width: 1367px) {
  .container-fluid {
    min-width: 1320px;
  }
}
